@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}
/* Blur-Effect */
.blur-effect-theme {
  @apply bg-orange-400 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
}

/* Theme-Colors */
.bg-theme {
  background-color: rgb(223, 87, 38);
}
.selected-category {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.selected-category.hidden {
  opacity: 0;
  pointer-events: none; 
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
  font-size: 12px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.bg-theme-cart {
  @apply bg-gradient-to-b from-slate-900 to-gray-900 shadow-sm shadow-gray-900;
}
.icon-style {
  @apply h-6 w-6 sm:h-5 sm:w-5 text-slate-100 cursor-pointer transition-all duration-100 active:scale-110 leading-tight;
}
.meal-item {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.meal-item.show {
  opacity: 1;
}
.disabled {
  opacity: 0.5; /* Adjust the opacity value to make it more or less faded */
  cursor: not-allowed;
}